/* src/App.css */

.App {
  text-align: center;
}

.product-list {
  display: flex;
  flex-direction: column; /* THÊM MỚI */
  align-items: center; /* THÊM MỚI */
  margin-top: 20px;
}

.search-input {
  /* THÊM MỚI */
  padding: 10px; /* THÊM MỚI */
  margin-bottom: 20px; /* THÊM MỚI */
  width: 300px; /* THÊM MỚI */
  font-size: 1em; /* THÊM MỚI */
  border: 1px solid #ccc; /* THÊM MỚI */
  border-radius: 4px; /* THÊM MỚI */
}

.product-item {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: left;
}

.product-item h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.product-item p {
  font-size: 1em;
  color: #555;
}
