/* Thêm một chút CSS để làm đẹp giao diện ứng dụng. */
/* src/App.css */

.App {
  text-align: center;
}

.product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.product-item {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: left;
}

.product-item h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.product-item p {
  font-size: 1em;
  color: #555;
}
